---
layout: markdown_page
title: "Category Direction - Authorization and Authentication"
description: "Authentication and authorization are critical, foundational elements to keeping resources secure but accessible. Learn more here!"
canonical_path: "/direction/manage/auth/"
---

- TOC
{:toc}

| Category | **Authorization and Authentication** |
| --- | --- |
| Stage | [Manage](https://about.gitlab.com/handbook/product/categories/#manage-stage) |
| Group | [Authentication & Authorization](https://about.gitlab.com/handbook/product/categories/#authentication--authorization-group) |
| Maturity | [Complete](/direction/maturity/) |
| Content Last Reviewed | `2022-02-22` |


<%= partial("direction/manage/auth/templates/intro") %>

## Overview

<%= partial("direction/manage/auth/templates/overview") %>

### Target audience and experience

<%= partial("direction/manage/auth/templates/target") %>

## Where we are Headed

We're currently focused on broader and deeper support for identity management and authentication strategies. Our objective is to allow users to quickly join GitLab with the right level of access, and building support for large organizations to quickly onboard and offboard users is essential.

For large organizations, we also need to make sure that users are armed with the right level of access. GitLab's role-based access control has served small teams well - and fits with a permissions model where anyone can contribute - but makes it challenging for large, security-minded organizations to build the level of granular controls and variation they need.

We are also acutely aware of the increasing security needs in Authentication and Authorization. The credentials that users are able to obtain are the "keys to the kingdom" and in a large enterprise, there needs to be strict inventory and management of these credentials, ensuring that their use and scope can be monitored and revoked if necessary.

### What's Next and Why

<%= partial("direction/manage/auth/templates/next") %>

## Maturity Plan

<%= partial("direction/manage/auth/templates/maturity") %>

## Goals

### Near-Term Goals

1. Complete [Flexible Roles and Permissions MVC](https://gitlab.com/gitlab-org/gitlab/-/issues/352891#mvc-definition). To get to the point of completing this MVC, we will do technical discovery that will help us understand constraints which may impact the design.

2. [Domain Verification MVC](https://gitlab.com/gitlab-org/gitlab/-/issues/353030) will be the first step in our [Enterprise Users](https://gitlab.com/groups/gitlab-org/-/epics/5299) Epic. Once a domain is verified, administrators can claim any users belonging to that domain, turning them into Enterprise Users.

### Mid-Term Goals

1. Parity in administrator features between self-managed and GitLab.com. [Workspace](https://docs.gitlab.com/ee/user/workspace/#workspace) is creating the container that will allow us to move existing self-managed administrator features  to GitLab.com.

2. Add the ability to create and use [service accounts](https://gitlab.com/gitlab-org/gitlab/-/issues/284393), allowing automated processes to act on behalf of users without consuming a license seat.


### Top Vision Item(s)

<%= partial("direction/manage/auth/templates/vision") %>
